.header {
  display: flex;
  flex-direction: column;
  gap: 23px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 300px;
}

.logo:hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .header {
    width: 90vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
  }

  .navbar {
    margin-right: auto;
  }
}
