form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

label {
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 125%;
  transition: background-color 0.3s ease;
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
  background-color: gold;
  color: black;
}

input,
textarea,
#message {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 4px;
  width: 200px;
  max-width: 250px;
  background-color: rgba(235, 235, 235, 0.64);
  color: black;
}

#message {
  height: 100px;
  width: 250px;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 85px;
}

.form-title {
  text-align: center;
  padding: 25px;
  font-size: 175%;
}

@media (max-width: 450px) {
  input,
  textarea,
  #message {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    width: 120px;
    max-width: 400px;
    background-color: rgba(235, 235, 235, 0.64);
    color: black;
  }
  label {
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .form-title {
    text-align: center;
    padding: 25px;
    font-size: 100%;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 85px;
  }
  #message {
    height: 100px;
    width: 350px;
  }
}
