@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.images > img {
  height: 250px;
  width: 310px;
  animation: fadeIn 1s ease-in;
  border-radius: 13px;
  box-shadow: 6px 6px 23px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 23px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 23px 4px rgba(0, 0, 0, 0.75);
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5vh;
}

.quote {
  padding: 20px;
  border-left: 4px solid gold;
  border-right: 4px solid gold;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  text-align: center;
}

.carousel {
  display: none;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .images {
    display: none;
  }
  .image {
    height: 600px;
    width: 744px;
    transition: opacity 0.5s ease;
    animation: fadeIn 1s ease-in;
  }
}

/* iPad Air */
@media (max-width: 820px) {
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .images {
    display: none;
  }
  .image {
    height: 400px;
    width: 496px;
    animation: fadeIn 1s ease-in;
  }
}

@media (max-width: 450px) {
  .images {
    display: none;
  }
  .img-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .quote {
    padding: 10px;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .image {
    height: 250px;
    width: 310px;
    animation: fadeIn 1s ease-in;
  }
}
