/* iPad Pro */
@media (max-width: 1024px) {
  .image {
    height: 600px;
    width: auto;
    transition: opacity 0.5s ease;
    animation: fadeIn 1s ease-in;
  }
}

/* iPad Air */
@media (max-width: 820px) {
  .image {
    height: 400px;
    width: auto;
    animation: fadeIn 1s ease-in;
  }
}

/* Mobile */
@media (max-width: 450px) {
  .image {
    height: 250px;
    width: 310px;
    animation: fadeIn 1s ease-in;
  }
}

.image {
  border-radius: 13px;
  box-shadow: 6px 6px 23px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 23px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 23px 4px rgba(0, 0, 0, 0.75);
  animation: fadeIn 3s ease-in;
}
