.socials {
  display: flex;
  gap: 35px;
}

.socials > img {
  height: 40px;
  width: auto;
}

.socials > img:hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .socials > img {
    height: 40px;
    width: auto;
  }

  .socials {
    padding-bottom: 30px;
  }
}
